<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <link th:href="@{/css/styles.css}" rel="stylesheet" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">

</head>
<body>

<div class="navWrapper">
    <nav class="navbar navbar-toggleable-md navbar-light bg-fadedNew">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="#">HyrDinFilm</a>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/">Start</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/addmovie">Lägg till film</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/addcustomer">Lägg till kund<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/showcustomer">Sök kund</a>
                </li>
            </ul>
        </div>
    </nav>
</div>

<!--
<a href="/">Start</a>
<a href="/addmovie">Lägg till film</a>
<a href="/addcustomer">Lägg till kund</a>
<a href="/showcustomer">Sök kund</a>
-->

<h1>Lägg till kund</h1>
<br>
<form action="#" th:action="@{/addcustomer}" th:object="${customer}" method="post">
    Personnummer:<br>
    <input type="text" th:field="*{ssn}">
    <br>
    <br>
    Förnamn:<br>
    <input type="text" th:field="*{fName}">
    <br><br>
    Efternamn:<br>
    <input type="text" th:field="*{lName}">
    <br><br>
    Adress:<br>
    <input type="text" th:field="*{address}">
    <br><br>
    Postnummer:<br>
    <input type="text" th:field="*{zip}">
    <br><br>
    Stad:<br>
    <input type="text" th:field="*{city}">
    <br><br>
    Land:<br>
    <input type="text" th:field="*{country}">
    <br><br>
    Telefonnummer:<br>
    <input type="text" th:field="*{phone}">
    <br><br>
    Email:<br>
    <input type="text" th:field="*{mail}">
    <br><br>
    <input type="submit" value="Lägg till">
</form>
<div th:text="${message}"></div>
</body>
</html>