<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <link th:href="@{/css/styles.css}" rel="stylesheet" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">

</head>
<body>

<div class="navWrapper">
    <nav class="navbar navbar-toggleable-md navbar-light bg-fadedNew">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="#">HyrDinFilm</a>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/">Start</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/addmovie">Lägg till film<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/addcustomer">Lägg till kund</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/showcustomer">Sök kund</a>
                </li>
            </ul>
        </div>
    </nav>
</div>

<!--
<a href="/">Start</a>
<a href="/addmovie">Lägg till film</a>
<a href="/addcustomer">Lägg till kund</a>
<a href="/showcustomer">Sök kund</a>
-->

<h1>Lägg till film</h1>

<form action="#" th:action="@{/addmovie}" th:object="${movie}" method="post">
    Film id:<br>
    <input type="text" th:field="*{mid}">
    <br>
    <br>
    Titel:<br>
    <input type="text" th:field="*{title}">
    <br><br>
    Genre:<br>
    <input type="text" th:field="*{category}">
    <br><br>
    Format:<br>
    <input type="text" th:field="*{format}">
    <br><br>
    Beskrivning:<br>
    <input type="text" th:field="*{description}">
    <br><br>
    Release datum:<br>
    <input type="date" th:field="*{releasedate}">
    <br><br>
    Hyllplats:<br>
    <input type="text" th:field="*{shelf}">
    <br><br>Pris:<br>
    <input type="text" th:field="*{price}">
    <br><br>
    <input type="submit" value="Lägg till">
</form>
<br><br><br>
<div th:text="${message}"></div>


<div class="formWrapper">
    <form th:object="${movie}">
        <div class="form-group row">
            <label>Film id</label>
            <input class="form-control" type="text" th:field="*{mid}" placeholder="">
        </div>
        <div class="form-group row">
            <label>Titel:</label>
            <input class="form-control" type="text" th:field="*{title}" placeholder="">
        </div>
        <div class="form-group row">
            <label>Genre:</label>
            <input class="form-control" type="text" th:field="*{category}" placeholder="">
        </div>
        <div class="form-group row">
            <label>Format:</label>
            <input class="form-control" type="text" th:field="*{format}" placeholder="">
        </div>
        <div class="form-group row">
            <label>Beskrivning:</label>
            <input class="form-control" type="text" th:field="*{description}" placeholder="">
        </div>
        <div class="form-group row">
            <label>Datum:</label>
            <!--<div class="col-10">-->
                <input class="form-control" type="date" th:field="*{releasedate}" id="example-date-input">
            <!--</div>-->
        </div>
        <div class="form-group row">
            <label>Hyllplats:</label>
            <input class="form-control" type="text" th:field="*{shelf}" placeholder="">
        </div>
        <div class="form-group row">
            <label>Pris:</label>
            <input class="form-control" type="text" th:field="*{price}" placeholder="">
        </div>

        <input type="submit" class="btn btn-primary row" value="Lägg till">

        <!-- <div th:text="${message}"></div> -->
    </form>
</div>



</body>
</html>