<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
<!--Navbar för att komma till de olika sidorna-->
<a href="/">Start</a>
<a href="/addmovie">Lägg till film</a>
<a href="/addcustomer">Lägg till kund</a>
<a href="/showcustomer">Sök kund</a>
<a href="/logout">Logga ut</a>

<!--Tabell som visar vilka filmer kunden redan har hyrt-->
<!--<table th:if="${activecustomer.rentedMovies != null}">-->
<table th:if="${not #lists.isEmpty(activecustomer.rentedMovies)}">
    <tr>
        <td><h2>Hyrda filmer</h2></td>
    </tr>
    <tr>
        <th>Titel</th>
    </tr>
    <th:block th:each="rentedmovie : ${activecustomer.rentedMovies}">
        <tr>
            <td th:text="${rentedmovie.title}"></td>
            <td>
                <form action="#" th:action="@{/activecustomer/returnmovie/}+${rentedmovie.mid}" method="POST">
                    <input type="submit" value="Returnera">
                </form>
            </td>
        </tr>
    </th:block>
    <tr>
        <td>
            <form action="#" th:action="@{/activecustomer/returnallmovies/}" method="POST">
                <input type="submit" value="Returnera Alla">
            </form>
        </td>
    </tr>
</table>

<!--Filmer som är tillagda på kunden för att eventuellt hyra-->
<table th:if="${not #lists.isEmpty(cart)}">
    <tr>
        <td><h2>Filmer att hyra</h2></td>
    </tr>
    <tr>
        <th>Titel</th>
        <th>Format</th>
        <th>Hyllplats</th>
        <th>Pris</th>
    </tr>
    <th:block th:each="movie: ${cart}">
        <tr>
            <td th:text="${movie.title}"></td>
            <td th:text="${movie.format}"></td>
            <td th:text="${movie.shelf}"></td>
            <td th:text="${movie.price}"></td>
            <td><a th:href="@{/activecustomer/deletefromcart/}+${movie.mid}">Ta bort</a></td>
        </tr>
    </th:block>
    <tr>
        <td><p th:text="${total}"></p></td>
    </tr>
    <tr>
        <td>
            <form action="#" th:action="@{/activecustomer/rent/}" method="POST">
                <input type="submit" value="Hyr ut filmer">
            </form>
        </td>
    </tr>
</table>

<!--input för att välja vilken kund som ska hyra-->
<div th:if="${activecustomer.ssn == null}">
    <h1>Hyr ut film</h1>
    <form action="#" th:action="@{/activecustomer/}" th:object="${activecustomer}" method="POST">
        <label for="activecustomer">Kund:</label><br>
        <input type="text" th:field="*{ssn}" id="activecustomer"><br>
        <input type="submit" value="OK">
    </form>
</div>
<!--Lägger till filmer på kunden-->
<div th:if="${activecustomer.ssn != null}">
    <h1>Hyr ut film</h1>
    <span th:if="${activecustomer.ssn != null}" th:text="'Hyr till: '+${activecustomer.ssn}"></span>
    <a th:href="@{/dispatchcustomer/}">-</a>

    <form action="#" th:action="@{/activecustomer/addmovie/}" th:object="${movie}" method="POST">
        <label for="mid">FilmID:</label>
        <input type="text" th:field="*{mid}" id="mid"><br>
        <input type="submit" value="lägg till film">
    </form>
</div>
<!--SÖkning efter vilka filmer som finns-->
<p th:text="${message}"></p>
<h1>Filmer</h1>
<h2>Sök Film</h2>
<form action="#" th:action="@{/showmovie/result/0/}" th:object="${movie}" method="GET">
    Film id: <br>
    <input type="text" th:field="*{mid}"><br>
    Titel: <br>
    <input type="text" th:field="*{title}"><br>
    Kategori: <br>
    <input type="text" th:field="*{category}"><br>
    <br>
    <input type="submit" value="Sök">
</form>
<br>
<form th:action="@{/showmovie/rented/0/}" method="get">
    <input type="submit" value="Visa uthyrda filmer">
</form>
<form th:action="@{/showmovie/late}" method=""get>
    <input type="submit" value="Visa försenade filmer">
</form>
<br><br>
<table th:if="${movielist != null}">
    <tr>
        <td><h2>Resultat</h2></td>
    </tr>
    <tr>
        <th>FilmId</th>
        <th>Titel</th>
        <th>Kategori</th>
        <th>Format</th>
        <th>Beskrivning</th>
        <th>Utgivningsår</th>
        <th>Hyllplats</th>
        <th>Pris</th>
        <th>Status</th>

    </tr>
    <th:block th:each="Movie : ${movielist}">
        <tr>
            <td th:text="${Movie.mid}"></td>
            <td th:text="${Movie.title}"></td>
            <td th:text="${Movie.category}"></td>
            <td th:text="${Movie.format}"></td>
            <td th:text="${Movie.description}"></td>
            <td th:text="${Movie.releasedate}"></td>
            <td th:text="${Movie.shelf}"></td>
            <td th:text="${Movie.price}"></td>
            <td th:text="${Movie.rentdate} ? 'uthyrd' : 'tillgänglig'"></td>
            <td>
                <a th:if="${Movie.customer!=null}" th:href="@{/showrentcustomer/}+${Movie.customer.ssn}">
                    <p th:if="${Movie.customer!=null}" th:text="${Movie.customer.ssn}"></p>
                </a>
            </td>
            <!--<td><a th:href="@{/showrentcustomer/}+${Movie.mid}">Visa kund</a></td>-->
            <td><a th:href="@{/editmovie/}+${Movie.mid}">Ändra</a></td>
            <td><a th:href="@{/deletemovie/}+${Movie.mid}">Ta bort</a></td>
            <td th:if="${activecustomer.ssn != null}">
                <a th:href="@{/activecustomer/addmovie/}+${Movie.mid}">Hyr</a>
            </td>
        </tr>
    </th:block>
    <tr>
        <td>
            <table>
                <tr>
                    <td>
                        <form th:if="${currentpage != 0}" action="#" th:action="@{/showmovie/}+${paging}+'/'+${currentpage-1}+'/'"
                              th:object="${movie}"
                              method="GET">
                            <input type="text" th:field="*{mid}" style="display:none"><br>
                            <input type="text" th:field="*{title}" style="display:none"><br>
                            <input type="text" th:field="*{category}" style="display:none"><br>
                            <input type="submit" value="<">
                        </form>
                    </td>
                    <th:block th:if="${#lists.size(pages) != 0}" th:each="page : ${pages}">
                        <td>
                            <form action="#" th:action="@{/showmovie/}+${paging}+'/'+${page}+'/'"
                                  th:object="${movie}"
                                  method="GET">
                                <input type="text" th:field="*{mid}" style="display:none"><br>
                                <input type="text" th:field="*{title}" style="display:none"><br>
                                <input type="text" th:field="*{category}" style="display:none"><br>
                                <input type="submit" th:value="${page}" th:style="${currentpage}==${page}? 'color:red' : 'color:black'">
                            </form>
                        </td>
                    </th:block>
                    <td>
                        <form th:if="${currentpage != #lists.size(pages)-1}" action="#" th:action="@{/showmovie/}+${paging}+'/'+${currentpage+1}+'/'"
                              th:object="${movie}"
                              method="GET">
                            <input type="text" th:field="*{mid}" style="display:none"><br>
                            <input type="text" th:field="*{title}" style="display:none"><br>
                            <input type="text" th:field="*{category}" style="display:none"><br>
                            <input type="submit" value=">">
                        </form>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>


</body>
</html>