<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Login</title>
</head>
<body>
    <form action="#" th:action="@{/}" method="post">
        <div>
            <label for="username">Användare</label>:
            <input type="text"
                   id="username"
                   name="username"
                   class="form-control"
                   autofocus="autofocus"
                   placeholder="Användare">
        </div>
        <div>
            <label for="password">Lösenord</label>:
            <input type="password"
                   id="password"
                   name="password"
                   class="form-control"
                   placeholder="Lösenord">
        </div>
        <div>
            <div class="row">
                <div>
                    <input type="submit"
                           name="login-submit"
                           id="login-submit"
                           class="form-control btn btn-info"
                           value="Logga in">
                </div>
            </div>
        </div>
    </form>
</body>
</html>