<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Login</title>

    <link th:href="@{/css/styles.css}" rel="stylesheet" />
</head>
<body>

<!-- Original login -->
<form action="#" th:action="@{/}" method="post">
    <h2>Logga in:</h2>
    <div th:if="${param.error}">
        Felaktig användare eller lösenord!
    </div>
    <br>
    <div>
        <label for="username">Användare</label>:
        <input type="text"
               id="username"
               name="username"
               autofocus="autofocus"
               placeholder="Användare"
        >
    </div>
    <div>
        <label for="password">Lösenord</label>:
        <input type="password"
               id="password"
               name="password"
               placeholder="Lösenord"
        >
    </div>
    <div>
        <input type="submit"
               value="Logga in"
        >
    </div>

</form>

<!-- New login -->
<div class="login">
    <div class="login-screen">
        <div class="app-title">
            <h1>Login</h1>
        </div>

        <div class="login-form">
            <div class="control-group">
                <input type="text" class="login-field" value="" placeholder="username" id="login-name">
                <label class="login-field-icon fui-user" for="login-name"></label>
            </div>

            <div class="control-group">
                <input type="password" class="login-field" value="" placeholder="password" id="login-pass">
                <label class="login-field-icon fui-lock" for="login-pass"></label>
            </div>

            <a class="btn btn-primary btn-large btn-block" href="#">login</a>
            <a class="login-link" href="#">Lost your password?</a>
        </div>
    </div>
</div>


<h2 id="green">hahaha</h2>

</body>
</html>