body {
    background-image: url("../images/abstract-purple-and-magenta-sparks_-1h3xxpgb__F0000.png");
    background-repeat: no-repeat;
    /*background-position: center;*/
    background-attachment: fixed;
}

h1 {
    font-family: "Arial Narrow";
}

.formWrapper {
    width: 800px;
    padding-left: 100px;
    margin-bottom: 200px;
}

.navWrapper {
    margin-bottom: 20px;
}

.bg-fadedNew {
        background-color: #f7f7f7;
}