body {
    background-image: url("../images/abstract-purple-and-magenta-sparks_-1h3xxpgb__F0000.png");
    background-repeat: no-repeat;
    /*background-position: center;*/
    background-attachment: fixed;
}

h1 {
    font-family: "Arial Narrow";
}

.formWrapper {
    width: 800px;
    padding-left: 100px;
    margin-bottom: 200px;
}

.navWrapper {
    margin-bottom: 20px;
    border-bottom: #0400ff Solid 1px;
}

.bg-fadedNew {
        /*background-color: #f7f7f7;*/
    background-color: rgba(246, 88, 175, 0.5);
    background: rgba(246, 88, 175, 0.5);
    color: rgba(246, 88, 175, 0.5);
}

#NavLogo {
    width: 15%;
    margin-right: 20px;
}

footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    background-color: #efefef;
    text-align: center;
}

.aHover:hover {
    text-shadow: 1px 1px 2px #0400ff;
    transition: 0.3s;
}

.aHover {
    font-size: 1.3em;
    font-family: fantasy;
}